.places {
    max-width: calc(100% - 148px * 2);
    margin: 92px auto 0;
}
@media screen and (max-width: 1024px) {
    .places {
        max-width: calc(100% - 48px * 2);
    }
} 
@media screen and (max-width: 768px) {
    .places {
        max-width: calc(100% - 24px * 2);
        margin-top: 88px;
    }
} 
@media screen and (max-width: 320px) {
    .places {
        max-width: calc(100% - 16px * 2);
        margin-top: 64px;
    }
}


/* @media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
} 
@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin-top: 88px;
    }
} 
@media screen and (max-width: 320px) {
    .places {
        margin-top: 64px;
    }
}  */
