.lead__image {
    justify-self: center;
    object-fit: cover;
    padding-top: 64px; 
    width: 100%;
    /* padding: 0 148px; */
    /* max-width: 984px;
    width: 100%; */
}
/* 1024 */
@media screen and (max-width: 1280px) {
    .lead__image {
        max-width: calc(1280px - 148px*2);
    }
}
/* 1024 */
@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: calc(100% - )
    }
}
/* 320 */
@media screen and (max-width: 320px) {
    .lead__image {
    }
}

