.intro__list {
    list-style-type: none;
    margin: 33px 0 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
}
@media screen and (max-width: 320px) {
    .intro__list {
        margin-top: 34px;
    }
}