.lead {
    margin: auto;
    display: grid;
    max-width: calc(100% - 148px*2);
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
}
 /* 1024 */
@media screen and (max-width: 1024px) {
    .lead {
        max-width: calc(100% - 48px*2);    
    }
}
/* 768 */
@media screen and (max-width: 768px){
    .lead {
        max-width: 100%
    }
}