.cover__subtitle {
    margin: 32px 0 0;
    max-width: 360px;
    justify-self: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    grid-column: 1/2;
    grid-row: 2/3;
    }

    @media screen and (max-width: 320px) {
        .cover__subtitle {
            margin: 16px 0 0;
            font-size: 14px;
            line-height: 16px;
            max-width: 288px;
        }
    }