.place {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header website"
    "img paragraph";
    row-gap: 48px;
    column-gap: 40px;
    margin: 0 0 80px;
}
.place:last-child {
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(2, 440px);
        column-gap: 32px;
    }
}
@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "website"
        "img" 
        "paragraph";
        row-gap: 32px;
        margin: 0 0 50px;
    }
}
