.lead__title {
    font-weight: 900;
    margin: 0 auto;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color:#fff;
}
@media screen and (max-width: 719px) {
    .lead__title {
        font-size: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 450px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}
