.lead__title {
    margin: 0;
    max-width: 720px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 6em;
    line-height: 100px;
}
@media screen and (min-width: 320px) and (max-width: 426px){
    .lead__title {
        max-width: calc(100% - 16px*2);
        font-size: 40px;
        line-height: 44px;  
    }
}