@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../vendor/fonts/Inter/Inter-Regular.woff2?v=3.15") format("woff2"),
         url("../../vendor/inter/Inter-Regular.woff?v=3.15") format("woff"),
         url("../../vendor/inter/Inter-Regular.ttf");
  }

.root {
    background-color: #2A2C2F;
    font-family: 'Inter';
}
* {
    border: 1px solid red;
}