.cover { 
    max-width: calc(100% - 48px *2);
    margin: 92px auto 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.cover:hover .cover__overlay {
        opacity: 0.8;
        transition: .3s linear;
    }

@media screen and (max-width: 1024px) {
    .cover { 
        max-width: 100%;
    }
} 
@media screen and (max-width: 768px) {
    .cover { 
        margin-top: 90px;
    }
} 
@media screen and (max-width: 320px) {
    .cover { 
        margin-top: 66px;
    }
} 