.cover {
    max-width: calc(100% - 48px *2);
    margin: 92px auto 0;
    position: relative;
    cursor: pointer;
}
.cover::before {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
}

.cover:hover::before  {
    opacity: 0.8;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

@media screen and (max-width: 1024px) {
    .cover { 
        margin-top: 90px;
        max-width: 100%;
    }
} 
@media screen and (max-width: 320px) {
    .cover { 
        margin-top: 66px;
    }
}