/* lead__subtitle */
.lead__subtitle {
    margin: 32px 0 0;
    max-width: 640px;
    text-align: center;
    color: #fff;
    font-size: 1.875em;
    line-height: 36px;
}
@media screen and (max-width: 320px) {
    .lead__subtitle  {
        margin: 16px 0 0;
        font-size: 16px;
        line-height: 20px;
    }
}