.cover__title {
    font-family: "inter-black",'Arial', 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    margin: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    align-self: flex-end;
    z-index: 1;
    text-decoration: none;
}
@media screen and (min-width: 721px) and (max-width: 1023px){
    .cover__title { 
        font-size: 72px;
        line-height: 76px;
    }
} 
@media screen and (min-width: 319px) and (max-width: 720px){
    .cover__title { 
        font-size: 38px;
        line-height: 35px;
    }
} 