.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header website"
    "img paragraph";
    row-gap: 48px;
    column-gap: 40px;
    margin: 0 0 80px;
}
.place:last-child {
    margin: 0;
}