@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../vendor/fonts/Inter/Inter-Regular.woff2?v=3.15") format("woff2"),
         url("../../vendor/inter/Inter-Regular.woff?v=3.15") format("woff"),
         url("../../vendor/inter/Inter-Regular.ttf");
  }

.root {
    background-color: #2A2C2F;
    font-family: 'Inter';
    min-width: 320px;
    max-width: 1184px;
    margin: 0 auto;
    border: 3px dotted white;

}



* {
    border: 1px solid rgb(255, 0, 255);
    box-sizing: border-box;
}

/* 1280 */
@media screen and (max-width: 1279px) {
    * {
        border: 1px solid rgb(2, 143, 44);
        box-sizing: border-box;
    }
}

/* 1024 */
@media screen and (max-width: 1023px) {
    * {
        border: 1px solid red;
        box-sizing: border-box;
    }
}
/* 768 */
@media screen and (max-width: 767px) {
    * {
        border: 1px solid rgb(94, 255, 0);
        box-sizing: border-box;
    }

}
/* 320 */
@media screen and (max-width: 320px) {
    * {
        border: 1px solid rgb(0, 174, 255);
        box-sizing: border-box;
    }
}
