.place__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #fff;
    margin: 0 0 26px;
}
.place__paragraph:last-child {
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .place__paragraph  {
        font-size: 18px;
        line-height: 163%;
    }
}
@media screen and (max-width: 320px){
    .place__paragraphs {
        max-width: calc(100% - 16px*2);
        font-size: 16px;
        margin: auto;
    }
}