.header{
    display: grid;
    grid-template-columns: 176px 1fr;
    margin: auto; 
    padding: 28px 0 0;
    /* max-width: calc(100% - 48px*2); */
    /* padding: 28px 48px 48px; */

} 
/* 1024 */
@media screen and (max-width: 1279px) {
    .header {
    }
}
/* 1024 */

/* 768 */
@media screen and (max-width: 768px) {
    .header {
    }
}
/* 320 */
@media screen and (max-width: 320px) {
    .header {
    }
}